RewriteEngine on
RewriteCond %{SERVER_PORT} 80

ErrorDocument 404 /erro/index.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^noticia/([a-z0-9-]+)$ noticias-single.php?post=$1 [NC,L]
RewriteRule ^portfolio/([a-z0-9-]+)$ portfolio-single.php?port=$1 [NC,L]
RewriteRule ^pagina/([a-z0-9-]+)$ pagina-single.php?pag=$1 [NC,L]



